
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160.315rem;
}.all-LhT {
  width: 100%;
  height: 659.4rem;
}
.all-LhT .course-website-xD3 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq {
  width: 132.3rem;
  height: 6rem;
  position: absolute;
  left: 14rem;
  top: 5rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .pro-edu-X3B {
  margin-right: 17.7rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .home-courses-deals-success-about-register-P5P {
  margin: 0rem 17.9rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .home-courses-deals-success-about-register-P5P .home-courses-deals-success-about-register-P5P-sub-0 {
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .home-courses-deals-success-about-register-P5P .home-courses-deals-success-about-register-P5P-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .group-1-Etd {
  margin: 0.2rem 0;
  width: 15rem;
  height: calc(100% - 0.4rem);
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .group-1-Etd .register-x3w {
  width: 8.4rem;
  height: 3rem;
  position: absolute;
  left: 3.3rem;
  top: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-LhT .course-website-xD3 .auto-group-bnpm-Rkq .group-1-Etd .rectangle-1-mn5 {
  width: 15rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #289bde;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 {
  box-sizing: border-box;
  padding: 18.2rem 6.033rem 18.2rem 6.333rem;
  width: 132rem;
  height: 70rem;
  position: absolute;
  left: 14rem;
  top: 15.8rem;
  display: flex;
  align-items: center;
  background-size: 100% 125.463%;
  background-position: 0 -0.6746rem;
  background-image: url('../assets/rectangle-2-bg.png');
  border-radius: 0.5rem;
  background-color: rgba(28, 28, 28, 0.6999999881);
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .frame-Htq {
  margin: 0rem 25rem 0rem 0rem;
  width: 1.1667rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .group-24-CF7 {
  margin-right: 25.2rem;
  box-sizing: border-box;
  padding: 0rem 2.45rem 0rem 2.55rem;
  width: 67.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .group-24-CF7 .get-started-digital-learning-Jow {
  margin-bottom: 11rem;
  max-width: 62.1rem;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 1.3076923077;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .group-24-CF7 .group-3-DR7 {
  margin: 0 21.95rem;
  width: calc(100% - 43.9rem);
  height: 5.6rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .group-24-CF7 .group-3-DR7 .frame-3-93s {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #289bde;
  box-sizing: border-box;
  background-color: #289bde;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .frame-VvM {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ftw7-T97 .auto-group-ftw7-T97-bg {
  width: 132rem;
  height: 70rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:6b9d4812fa484391e21455c77062027446a6ef30');
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB {
  width: 132.2rem;
  height: 20rem;
  position: absolute;
  left: 14rem;
  top: 122.8rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 {
  margin-right: 2.6rem;
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 .rectangle-6-N6y {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  background-size: 150% 100%;
  background-position: -2.1631rem -0rem;
  background-image: url('../assets/rectangle-6-JJy.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 .group-11-Eus {
  margin: 3.4rem 0rem 3.3rem 0rem;
  height: calc(100% - 6.7rem);
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 .group-11-Eus .fundamental-of-ui-ux-design-MUh {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 .group-11-Eus .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-5vV {
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-34sx-dv5 .group-11-Eus .price-20-aMT {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs {
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs .rectangle-6-Rcy {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  background-size: 174.968% 100%;
  background-position: -0.836rem -0rem;
  background-image: url('../assets/rectangle-6-9UZ.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs .group-11-iMB {
  margin: 3.4rem 0rem 3.3rem 0rem;
  height: calc(100% - 6.7rem);
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs .group-11-iMB .javascript-basic-to-advanced-3PT {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs .group-11-iMB .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-m4Z {
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-heoo-ujB .auto-group-3nnr-HFs .group-11-iMB .price-20-3nm {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB {
  width: 132.2rem;
  height: 20rem;
  position: absolute;
  left: 14rem;
  top: 145.2rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j {
  margin-right: 2.6rem;
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j .rectangle-6-17K {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j .group-11-Kth {
  margin: 3.4rem 0rem 3.3rem 0rem;
  height: calc(100% - 6.7rem);
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j .group-11-Kth .fullstack-web-development-dPb {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j .group-11-Kth .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-kUD {
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-ezrd-G9j .group-11-Kth .price-20-FA5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-zfpt-wob {
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-zfpt-wob .rectangle-6-5eu {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-zfpt-wob .group-11-1Hf {
  margin: 3.4rem 0rem 3.3rem 0rem;
  box-sizing: border-box;
  padding-top: 4.8rem;
  height: calc(100% - 6.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-zfpt-wob .group-11-1Hf .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-hwB {
  margin-bottom: 1rem;
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ykws-khB .auto-group-zfpt-wob .group-11-1Hf .price-20-PZ7 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 {
  width: 132.2rem;
  height: 20rem;
  position: absolute;
  left: 14rem;
  top: 167.6rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM {
  margin-right: 2.6rem;
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM .rectangle-6-uvm {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  background-size: 177.778% 100%;
  background-position: -15.2558rem 0;
  background-image: url('../assets/rectangle-6-GrR.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM .group-11-aGD {
  margin: 3.4rem 0rem 3.3rem 0rem;
  height: calc(100% - 6.7rem);
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM .group-11-aGD .photography-basic-rules-5Ts {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM .group-11-aGD .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-Qm3 {
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-hfgh-nLM .group-11-aGD .price-20-WZB {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-basw-NbP {
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-basw-NbP .rectangle-6-ubK {
  margin-right: 2.4rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  background-size: 150% 100%;
  background-position: -1.5792rem 0;
  background-image: url('../assets/rectangle-6-CiZ.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-basw-NbP .group-11-ZQy {
  margin: 3.4rem 0rem 3.3rem 0rem;
  box-sizing: border-box;
  padding-top: 4.8rem;
  height: calc(100% - 6.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-basw-NbP .group-11-ZQy .some-quick-example-text-to-build-on-the-card-title-and-make-up-the-bulk-of-the-card-Fob {
  margin-bottom: 1rem;
  max-width: 39.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-brmw-h41 .auto-group-basw-NbP .group-11-ZQy .price-20-9e5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-26-Qa1 {
  width: 60.1rem;
  height: 19rem;
  position: absolute;
  left: 50.05rem;
  top: 98.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .group-26-Qa1 .discover-our-popular-courses-iqb {
  margin: 0rem 0rem 1rem 0.1rem;
  max-width: 48.1rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-26-Qa1 .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-o6M {
  max-width: 60.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .frame-3-4Y5 {
  width: 24.8rem;
  height: 5.6rem;
  position: absolute;
  left: 67.7rem;
  top: 192.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #289bde;
  box-sizing: border-box;
  background-color: #289bde;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds {
  box-sizing: border-box;
  padding-right: 5.2rem;
  width: 132rem;
  height: 80.6rem;
  position: absolute;
  left: 14rem;
  top: 211.2rem;
  display: flex;
  align-items: center;
  background-color: #f4fafd;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .rectangle-8-AzR {
  margin-right: 6.2rem;
  width: 60rem;
  height: 80.6rem;
  position: relative;
  background-size: 201.299% 100%;
  background-position: -52.2751rem 0;
  background-image: url('../assets/rectangle-8.png');
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam {
  margin: 13rem 0;
  height: calc(100% - 26rem);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .explore-the-elearning-institute-N4u {
  margin-bottom: 1rem;
  max-width: 49.1rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-if-you-are-going-to-use-a-passage-of-lorem-ipsum-you-need-to-be-sure-anything-embarrassing-hidden-in-the-middle-of-text-all-the-lorem-ipsum-generators-on-the-internet-tend-to-repeat-predefined-4yK {
  margin-bottom: 3rem;
  max-width: 60.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd {
  margin-bottom: 3rem;
  height: 9rem;
  display: flex;
  column-gap: 5rem;
  align-items: center;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-19-igV {
  width: 14.2rem;
  height: 100%;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-19-igV .k-rXo {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-19-igV .online-course-aCu {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-20-g13 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-20-g13 .item-600-Dmf {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-20-g13 .expert-member-vvy {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-21-41b {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-21-41b .k-bXK {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .group-22-oJd .group-21-41b .rating-review-vZb {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-sxj1-6Ds .group-23-qam .frame-4-S29 {
  width: 17.5rem;
  height: 5.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #289bde;
  box-sizing: border-box;
  background-color: #289bde;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .some-students-feedback-dcR {
  width: 58.2rem;
  height: 6rem;
  position: absolute;
  left: 51rem;
  top: 436.4rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-LhT .course-website-xD3 .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-5zD {
  width: 60.1rem;
  height: 6rem;
  position: absolute;
  left: 50.05rem;
  top: 444.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .meet-our-successfull-students-Vo3 {
  width: 47.7rem;
  height: 12rem;
  position: absolute;
  left: 14rem;
  top: 347.8rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-yiD {
  width: 51.9rem;
  height: 6rem;
  position: absolute;
  left: 14rem;
  top: 361.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd {
  width: 132.2rem;
  height: 40rem;
  position: absolute;
  left: 14rem;
  top: 372.8rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-tlrh-hGq {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 31.2rem;
  height: 100%;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-tlrh-hGq .rectangle-6-zmj {
  margin-bottom: 2.1rem;
  width: 31.2rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem 0.5rem 0 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-tlrh-hGq .group-4871-J1j {
  margin-left: 2.1rem;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-tlrh-hGq .group-4871-J1j .awlad-hossain-dJu {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-tlrh-hGq .group-4871-J1j .uiux-designer-9HF {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .group-10098-E3o {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 31.2rem;
  height: 100%;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .group-10098-E3o .rectangle-6-8Q5 {
  margin-bottom: 2.1rem;
  width: 31.2rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem 0.5rem 0 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .group-10098-E3o .group-4871-qZP {
  margin-left: 2.1rem;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .group-10098-E3o .group-4871-qZP .jannatul-islam-mxq {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .group-10098-E3o .group-4871-qZP .motion-design-JC5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-rtad-nN9 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 31.2rem;
  height: 100%;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-rtad-nN9 .rectangle-6-JLV {
  margin-bottom: 2.1rem;
  width: 31.2rem;
  height: 30rem;
  position: relative;
  background-size: 144.231% 100%;
  background-position: -10.3546rem -0rem;
  background-image: url('../assets/rectangle-6-JM3.png');
  border-radius: 0.5rem 0.5rem 0 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-rtad-nN9 .group-4871-Lny {
  margin-left: 2.1rem;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-rtad-nN9 .group-4871-Lny .imran-hossain-t3o {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-rtad-nN9 .group-4871-Lny .graphic-designer-18R {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-vy8z-5ty {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 31.2rem;
  height: 100%;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-vy8z-5ty .rectangle-6-1Gq {
  margin-bottom: 2.1rem;
  width: 31.2rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem 0.5rem 0 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-vy8z-5ty .group-4871-5nV {
  margin-left: 2.1rem;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-vy8z-5ty .group-4871-5nV .nishi-akter-E9b {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ivgm-QYd .auto-group-vy8z-5ty .group-4871-5nV .web-developer-LyK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ghuh-E37 {
  box-sizing: border-box;
  padding: 8rem 9.8rem 8rem 10.1rem;
  width: 132rem;
  height: 30rem;
  position: absolute;
  left: 14rem;
  top: 304.8rem;
  display: flex;
  align-items: center;
  background-color: #289bde;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ghuh-E37 .group-33-srm {
  margin-right: 40.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ghuh-E37 .group-33-srm .ready-to-join-R7b {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ghuh-E37 .group-33-srm .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-LkM {
  max-width: 51.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #f4f4f4;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ghuh-E37 .frame-4-cSy {
  margin: 4.2rem 0;
  width: 19.9rem;
  height: calc(100% - 8.4rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #289bde;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 {
  width: 87.2rem;
  height: 71rem;
  position: absolute;
  left: 36.4rem;
  top: 502rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .auto-group-ygaq-wdf {
  box-sizing: border-box;
  padding: 0rem 11.6rem 5rem 11.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .auto-group-ygaq-wdf .frequently-asked-questions-2f7 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .auto-group-ygaq-wdf .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-vVb {
  max-width: 60.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV {
  width: 100%;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4866-5mo {
  box-sizing: border-box;
  padding: 2.5rem 3.764rem 2.5rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(40, 155, 222, 0.1000000015);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4866-5mo .what-other-services-are-you-compatible-with-aTf {
  margin-right: 31.433rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4866-5mo .group-4865-TnM {
  margin-top: 0.1rem;
  width: 1.4028rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .there-are-many-variations-of-passages-of-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-if-you-are-going-to-use-a-passage-of-lorem-ipsum-you-need-to-be-sure-there-isnt-anything-embarrassing-hidden-in-the-middle-of-text-all-the-generators-on-the-Y37 {
  margin-right: 2.2rem;
  max-width: 77rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4867-Huo {
  box-sizing: border-box;
  padding: 2.5rem 3.764rem 2.5rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4867-Huo .i-have-a-technical-i-need-resolved-who-do-i-email-CWy {
  margin-right: 27.333rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4867-Huo .group-4865-J4D {
  margin-top: 0.1rem;
  width: 1.4028rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4868-b3K {
  box-sizing: border-box;
  padding: 2.5rem 3.764rem 2.5rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4868-b3K .what-other-services-are-you-compatible-with-HB3 {
  margin-right: 31.433rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4868-b3K .group-4865-BnD {
  margin-top: 0.1rem;
  width: 1.4028rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4869-Gof {
  box-sizing: border-box;
  padding: 2.5rem 3.764rem 2.5rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4869-Gof .what-other-services-are-you-compatible-with-P7b {
  margin-right: 31.433rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-4877-SB7 .group-4870-NcV .group-4869-Gof .group-4865-VgR {
  margin-top: 0.1rem;
  width: 1.4028rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .frame-5-ybb {
  width: 14.6rem;
  height: 5.6rem;
  position: absolute;
  left: 72.8rem;
  top: 417.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #289bde;
  box-sizing: border-box;
  background-color: #289bde;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw {
  width: 136.7rem;
  height: 33.6rem;
  position: absolute;
  left: 11.7rem;
  top: 455.4rem;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH {
  box-sizing: border-box;
  padding: 4rem 3.9rem 4rem 4rem;
  width: 64.8rem;
  height: 33.6rem;
  position: absolute;
  left: 2.3rem;
  top: 0;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy {
  margin: 0rem 0rem 2.033rem 0.035rem;
  width: calc(100% - 0.0355rem);
  height: 4.4667rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .group-4879-AJh {
  margin-right: 39.266rem;
  width: 5.5985rem;
  height: 4.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV {
  margin: 1rem 0rem 1.067rem 0rem;
  height: calc(100% - 2.0667rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV .base-rating-cRb {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV .base-rating-MPB {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV .base-rating-hhw {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV .base-rating-FUZ {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .auto-group-68p5-3Uy .rating-tkV .base-rating-Ceh {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-if-you-are-going-to-use-a-passage-of-lorem-kAR {
  margin-bottom: 2rem;
  max-width: 56.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu {
  margin-right: 37.1rem;
  width: calc(100% - 37.1rem);
  height: 5.1rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu .ellipse-1-tfw {
  margin: 0.1rem 2.1rem 0rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  background-size: 149.883% 100%;
  background-position: -1.8114rem 0rem;
  background-image: url('../assets/ellipse-1-bg-R2u.png');
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu .ellipse-1-tfw .ellipse-1-tfw-bg {
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:4b1598f043048c359682092b73675c6b479a27c6');
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu .group-4880-jRf {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu .group-4880-jRf .awlad-hossain-Vfj {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4882-jUH .group-4881-Mvu .group-4880-jRf .ui-designer-Dbj {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT {
  box-sizing: border-box;
  padding: 4rem 3.9rem 4rem 3.968rem;
  width: 64.8rem;
  height: 33.6rem;
  position: absolute;
  left: 69.7rem;
  top: 0;
  border: solid 0.1rem #e8e8e8;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm {
  margin-bottom: 2.0333rem;
  width: 100%;
  height: 4.4667rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .group-4879-kVB {
  margin-right: 39.3335rem;
  width: 5.5985rem;
  height: 4.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 {
  margin: 1rem 0rem 1.067rem 0rem;
  height: calc(100% - 2.0667rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 .base-rating-Cry {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 .base-rating-wZf {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 .base-rating-gn9 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 .base-rating-2b7 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .auto-group-kuwz-ctm .rating-Ug5 .base-rating-BD7 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-if-you-are-going-to-use-a-passage-of-lorem-76m {
  margin: 0rem 0rem 2rem 0.032rem;
  max-width: 56.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .group-4881-W8u {
  margin: 0rem 36.8rem 0rem 0.032rem;
  width: calc(100% - 36.832rem);
  height: 5.1rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .group-4881-W8u .ellipse-1-27F {
  margin: 0.1rem 2rem 0rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg.png');
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .group-4881-W8u .group-4880-vCd {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .group-4881-W8u .group-4880-vCd .shanta-akter-s7s {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-4883-ujT .group-4881-W8u .group-4880-vCd .graphic-designer-nkd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-10090-Gfo {
  width: 136.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 14.5rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-10090-Gfo .group-4885-n8M {
  margin-right: 127.3rem;
  width: 4.7rem;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-ih2m-DVw .group-10090-Gfo .group-4884-HL1 {
  width: 4.7rem;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd {
  box-sizing: border-box;
  padding: 13rem 63.742rem 13rem 64.158rem;
  width: 160rem;
  height: 47.2rem;
  position: absolute;
  left: 0;
  top: 612.2rem;
  background-color: #161616;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .pro-edu-EeZ {
  margin: 0rem 0.116rem 0.7rem 0rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .office-41-zawaya-buildin-ghala-muscat-sultanate-of-oman-7CZ {
  margin-bottom: 1rem;
  max-width: 32.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #e8e8e8;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .privacy-ploicy-terms-of-use-NeH {
  margin: 0rem 0rem 2rem 0.056rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2599999746;
  color: #e8e8e8;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .group-10061-e61 {
  margin: 0rem 5.758rem 0rem 5.742rem;
  width: calc(100% - 11.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .group-10061-e61 .group-10060-XQh {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .group-10061-e61 .group-10059-qgH {
  margin-right: 1.6rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .group-10061-e61 .group-10058-m49 {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .auto-group-hcqs-QQd .group-10113-u6V .group-10061-e61 .group-10057-4ow {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .trusted-by-over-800-companies-anH {
  width: 75.3rem;
  height: 6rem;
  position: absolute;
  left: 42.3rem;
  top: 586rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #1c1c1c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-LhT .course-website-xD3 .group-10112-dVf {
  width: 132.16rem;
  height: 4.2rem;
  position: absolute;
  left: 14.0276rem;
  top: 595rem;
  display: flex;
  align-items: center;
}
.all-LhT .course-website-xD3 .group-10112-dVf .group-K7b {
  margin: 0rem 7.474rem 0.115rem 0rem;
  width: 17.8022rem;
  height: 2.4848rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP {
  margin: 0.001rem 7.604rem 0rem 0rem;
  height: calc(100% - 0.0011rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP .vector-5FB {
  margin-right: 1.0695rem;
  width: 5.1737rem;
  height: 4.199rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP .vector-z7F {
  margin: 0.19rem 0.185rem 0rem 0rem;
  width: 3.2834rem;
  height: 2.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP .vector-sgq {
  margin: 0.729rem 0.186rem 0rem 0rem;
  width: 1.352rem;
  height: 1.4665rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP .vector-xiH {
  margin: 0.697rem 0.013rem 0rem 0rem;
  width: 2.1966rem;
  height: 1.4357rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .udemy-2-1-CBP .vector-StM {
  margin-top: 1.2024rem;
  width: 1.5337rem;
  height: 1.8665rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .fedex-express-6-1-kPF {
  margin: 0.401rem 7.56rem 0.501rem 0rem;
  height: calc(100% - 0.9017rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .fedex-express-6-1-kPF .vector-dT3 {
  margin-right: 0.0002rem;
  width: 6.2995rem;
  height: 3.2983rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .fedex-express-6-1-kPF .group-jFB {
  margin: 0rem 0.376rem 0.116rem 0rem;
  width: 4.5526rem;
  height: 3.1825rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .fedex-express-6-1-kPF .vector-RNu {
  margin-bottom: 0.0498rem;
  width: 0.7715rem;
  height: 0.7571rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .group-10110-jeV {
  margin: 0rem 7.918rem 0.131rem 0rem;
  width: 17.9456rem;
  height: 2.2688rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .logo-elecom-1-1-rDK {
  margin: 0rem 7.992rem 0.006rem 0rem;
  width: 14.7395rem;
  height: 3.4985rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .group-10111-ZNd {
  margin-bottom: 0.0392rem;
  height: calc(100% - 0.0392rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .group-10111-ZNd .vector-tvh {
  margin-right: 0.1983rem;
  width: 15.2589rem;
  height: 4.1608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-LhT .course-website-xD3 .group-10112-dVf .group-10111-ZNd .vector-pJZ {
  margin-top: 0.4152rem;
  width: 0.6746rem;
  height: 0.6713rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
